.badge {
  font-weight: 500;
  line-height: 140%;

  &--s-1 {
    font-size: 30px;
  }

  &--s-2 {
    font-size: 24px;
  }

  &--s-3 {
    font-size: 16px;
  }

  &--s-4 {
    font-size: 14px;
  }
}
